---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Neovim - Atajos de teclado">
    <main transition:animate="slide">
        <h1>Atajos de teclado</h1>
        <h2>Movimiento</h2>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Tecla</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>k</kbd> / <kbd>Arriba</kbd></td>
                    <td>Mueve el cursor hacia arriba</td>
                </tr>
                <tr>
                    <td><kbd>j</kbd> / <kbd>Abajo</kbd></td>
                    <td>Mueve el cursor hacia abajo</td>
                </tr>
                <tr>
                    <td><kbd>h</kbd> / <kbd>Izquierda</kbd></td>
                    <td>Mueve el cursor hacia izquierda</td>
                </tr>
                <tr>
                    <td><kbd>l</kbd> / <kbd>Derecha</kbd></td>
                    <td>Mueve el cursor hacia derecha</td>
                </tr>
                <tr>
                    <td><kbd>b</kbd> / <kbd>B</kbd></td>
                    <td>Mueve el cursor al principio de la palabra anterior</td>
                </tr>
                <tr>
                    <td><kbd>w</kbd> / <kbd>W</kbd></td>
                    <td>Mueve el cursor al final de la palabra siguiente</td>
                </tr>
                <tr>
                    <td><kbd>0</kbd></td>
                    <td>Mueve el cursor al principio de la línea</td>
                </tr>
                <tr>
                    <td><kbd>$</kbd></td>
                    <td>Mueve el cursor al final de la línea</td>
                </tr>
                <tr>
                    <td><kbd>gg</kbd></td>
                    <td>Mueve el cursor hacia la primera línea del archivo</td>
                </tr>
                <tr>
                    <td><kbd>G</kbd></td>
                    <td>Mueve el cursor hacia la última línea del archivo</td>
                </tr>
                <tr>
                    <td><kbd>e</kbd> / <kbd>E</kbd></td>
                    <td
                        >Mueve el cursor al final de la palabra
                        anterior/siguiente</td
                    >
                </tr>
                <tr>
                    <td><kbd>n</kbd> / <kbd>N</kbd></td>
                    <td
                        >Mueve el cursor hacia la ocurrencia anterior/siguiente</td
                    >
                </tr>
                <tr>
                    <td><kbd>{"<"}</kbd> / <kbd>{">"}</kbd></td>
                    <td>Aumentar/Disminuir la sangría en la línea actual</td>
                </tr>
                <tr>
                    <td><kbd>%</kbd></td>
                    <td>Saltar a la pareja de {"{}"},[],()</td>
                </tr>
                <tr>
                    <td><kbd>#</kbd> / <kbd>*</kbd></td>
                    <td
                        >Buscar la palabra en la posición actual del cursor
                        hacia atrás/adelante</td
                    >
                </tr>
                <tr>
                    <td><kbd>^</kbd></td>
                    <td>Mueve el cursor hacia la primera letra de la línea</td>
                </tr>
                <tr>
                    <td><kbd>[Número línea] + G</kbd></td>
                    <td>Mueve el cursor hacia la línea especificada</td>
                </tr>
            </tbody>
        </table>

        <h2>Edición</h2>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Tecla</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>u</kbd></td>
                    <td>Deshacer el último cambio</td>
                </tr>
                <tr>
                    <td><kbd>Ctrl + r</kbd></td>
                    <td>Rehacer el último cambio</td>
                </tr>
                <tr>
                    <td><kbd>p</kbd> / <kbd>P</kbd></td>
                    <td>Pegar en la posición actual/anterior del cursor</td>
                </tr>
                <tr>
                    <td><kbd>cc</kbd> / <kbd>C</kbd></td>
                    <td
                        >Cambiar el contenido de toda la línea/hasta el final de
                        línea</td
                    >
                </tr>
                <tr>
                    <td><kbd>xp</kbd></td>
                    <td
                        >Intercambia la letra/carácter con la posición siguiente
                        del cursor</td
                    >
                </tr>
                <tr>
                    <td><kbd>dd</kbd></td>
                    <td>Corta la línea actual</td>
                </tr>
                <tr>
                    <td><kbd>[número] dd</kbd></td>
                    <td>Corta x número de líneas hacia delante</td>
                </tr>
                <tr>
                    <td><kbd>[número] d [movimiento]</kbd></td>
                    <td>Corta x número de líneas hacia X lado</td>
                </tr>
                <tr>
                    <td><kbd>yy</kbd></td>
                    <td>Copia la línea actual</td>
                </tr>
                <tr>
                    <td><kbd>[número] Y</kbd></td>
                    <td>Copia las x líneas hacia adelante</td>
                </tr>
                <tr>
                    <td><kbd>[número] Y [movimiento]</kbd></td>
                    <td>Copia las x líneas hacia X lado</td>
                </tr>
                <tr>
                    <td><kbd>/</kbd></td>
                    <td>Activa la búsqueda</td>
                </tr>
            </tbody>
        </table>

        <h2>Modos de edición</h2>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Tecla</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>i</kbd> / <kbd>I</kbd></td>
                    <td
                        >Activar el modo de inserción en la posición actual del
                        cursor / al principio de la línea</td
                    >
                </tr>
                <tr>
                    <td><kbd>r</kbd> / <kbd>R</kbd></td>
                    <td
                        >Activar el modo de reemplazo en la posición actual del
                        cursor</td
                    >
                </tr>
                <tr>
                    <td><kbd>v</kbd></td>
                    <td
                        >Activar el modo de visual y luego realizar una acción
                        (seleccionar una palabra, línea, etc...)</td
                    >
                </tr>
                <tr>
                    <td><kbd>Ctrl + v</kbd></td>
                    <td
                        >Activar el modo de bloque visual (para selección
                        vertical)</td
                    >
                </tr>
                <tr>
                    <td><kbd>V</kbd></td>
                    <td
                        >Activar el modo de visual seleccionando la línea actual
                        del cursor</td
                    >
                </tr>
                <tr>
                    <td><kbd>Esc</kbd></td>
                    <td>Volver al modo normal</td>
                </tr>
            </tbody>
        </table>

        <h2>Modo inserción</h2>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Tecla</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>a</kbd> / <kbd>A</kbd></td>
                    <td
                        >Activar el modo de inserción en la siguiente posición
                        del cursor / al final de la línea</td
                    >
                </tr>
                <tr>
                    <td><kbd>o</kbd> / <kbd>O</kbd></td>
                    <td
                        >Activa el modo de inserción y crea una nueva línea por
                        debajo/encima del cursor</td
                    >
                </tr>
                <tr>
                    <td><kbd>ea</kbd></td>
                    <td
                        >Activar el modo de inserción y pone el cursor al final
                        de la línea</td
                    >
                </tr>
            </tbody>
        </table>

        <h2>Modo visual</h2>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Tecla</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>y</kbd></td>
                    <td>Copiar la selección actual</td>
                </tr>
                <tr>
                    <td><kbd>o</kbd> / <kbd>O</kbd></td>
                    <td
                        >Activa el modo de inserción y crea una nueva línea por
                        debajo/encima del cursor</td
                    >
                </tr>
                <tr>
                    <td><kbd>ea</kbd></td>
                    <td
                        >Activar el modo de inserción y pone el cursor al final
                        de la línea</td
                    >
                </tr>
            </tbody>
        </table>

        <blockquote>
            <p>
                P.D.: En Vim/Neovim, el "portapapeles" se denomina <b
                    >registro</b
                >.
            </p>
        </blockquote>

        <h2>Combinaciones</h2>

        <p>
            <b>Vim</b> y <b>Neovim</b> hacen uso de su propia "gramática", con
            lo que permite al usuario realizar una acción usando varias
            combinaciones.
        </p>

         En la siguiente tabla se recoge algunas de las combinaciones posibles:

        <table id="tabla">
            <thead>
                <tr>
                    <th>Combinación</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>y</kbd><kbd>[x]</kbd><kbd>w</kbd></td>
                    <td>Copia [x] palabras hasta el inicio de la última</td>
                </tr>
                <tr>
                    <td><kbd>y</kbd><kbd>[x]</kbd><kbd>$</kbd></td>
                    <td>Copia [x] líneas</td>
                </tr>
                <tr>
                    <td><kbd>y</kbd><kbd>[x]</kbd><kbd>e</kbd></td>
                    <td>Copia [x] palabras hasta el final de la última</td>
                </tr>
                <tr>
                    <td><kbd>d</kbd><kbd>[x]</kbd><kbd>w</kbd></td>
                    <td>Corta [x] palabras hasta el inicio de la última</td>
                </tr>
                <tr>
                    <td><kbd>d</kbd><kbd>[x]</kbd><kbd>$</kbd></td>
                    <td>Corta [x] líneas</td>
                </tr>
                <tr>
                    <td><kbd>d</kbd><kbd>[x]</kbd><kbd>e</kbd></td>
                    <td>Corta [x] palabras hasta el final de la última</td>
                </tr>
            </tbody>
        </table>

        <h2>Pestañas, búferes y ventanas</h2>
        <table id="tabla">
            <thead>
                <tr>
                    <th>Combinación</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>gt</kbd> / <kbd>gT</kbd></td>
                    <td>Moverse hacia la pestaña anterior / siguiente</td>
                </tr>
                <tr>
                    <td><kbd>Ctrl + w + [h,j,k,l]</kbd></td>
                    <td>Cambia el foco a la ventana de X sentido</td>
                </tr>
            </tbody>
        </table>
    </main>
</Layout>
