---
import Layout from "../layouts/Layout.astro";
import LogoNeovim from "../components/LogoNeovim.astro";
---

<Layout title="Guía Neovim">
    <main class="main__container">
        <LogoNeovim height="330" />

        <p>
            <b>Neovim</b> es un editor de textos muy potente y <b
                >multiplataforma</b
            >, basado en el mítico <b>Vim</b>, pero mucho más extensible, y con
            soporte del lenguaje <b>Lua</b>.
        </p>
        <p>
            Si alguna vez has tratado de utilizar este editor, y no has podido
            salir de él, no te preocupes. Con esta guía podrás dominar este
            editor de una forma fácil y muy sencilla. Abarcará desde los atajos
            de teclado hasta los diferentes plugins importantes.
        </p>
        <div class="main__botones">
            <a href="/atajos">Atajos</a>
            <a href="/comandos">Comandos</a>
            <a href="/configuracion">Configuración</a>
            <a href="/plugins">Plugins</a>
            <a href="/configuraciones-neovim"
                >Configuraciones de Neovim</a
            >
        </div>
    </main>
</Layout>

<style>
    .main__container {
        margin: auto;
        padding: 1rem;
        width: 96%;
        max-width: calc(100% - 2rem);
        font-size: 1.2rem;
        line-height: 1.6;
        text-align: center;
    }

    .main__botones {
        margin-top: 2em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: var(--dark-fg);

        gap: 1.5em;

        @media (width < 720px) {
            flex-direction: column;
            width: 100%;
        }

        & a,
        & a:visited {
            color: inherit;
            text-decoration: none;
            background-color: #44f;
            padding: 0.5em 1em;
            border-radius: 1em;
            box-shadow:
                0 0.25em 1.5em #226,
                0 0.25em 1.5em #226;
            transition: all 0.3s ease-in-out;
        }

        & a:hover {
            background-color: #66f;
            box-shadow:
                0 0.25em 1.5em #448,
                0 0.25em 1.5em #448;
        }
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
    }
</style>
