---
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---

<head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <link
        rel="icon"
        type="image/svg+xml"
        href="/neovim-favicon.svg"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad:wght@400;700;900&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;900&display=swap"
        rel="stylesheet"
    />
    <ClientRouter />
</head>
