---
---
<footer>
    <p>
        Hecho por <a href="https://www.santosalarcon.es" target="_blank">Santos Alarcón</a> con todo el 💓 y con <a href="https://astro.build" target="_blank">Astro</a>.
    </p>
</footer>
<style>
    footer {
        text-align: center;

        @media (width < 720px) {
            font-size: 13px;
        }
    }
</style>
