---
import ThemeToggler from "./ThemeToggler";
import LogoNeovimHorizontal from "./LogoNeovimHorizontal.astro";
---

<header class="header__container">
    <div id="logo">
        <a href="/">
            <LogoNeovimHorizontal />
        </a>
    </div>
    <ThemeToggler client:load />
</header>
<style>
    .header__container {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & a {
            color: inherit;
        }

        @media (width <= 861px) {
            padding: 1.5rem;
        }
    }
</style>
