---
import ThemeToggler from "./ThemeToggler";
import LogoNeovimHorizontal from "./LogoNeovimHorizontal.astro";
---

<header class="header__container">
    <div class="header__left">
        <sidebar-button>
            <button
                aria-label="Abrir la barra lateral"
                class="sidebar__open__button"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-menu"
                >
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </button>
        </sidebar-button>
        <div class="header__logo">
            <a href="/" aria-label="Ir a la página principal">
                <LogoNeovimHorizontal />
            </a>
        </div>
    </div>
    <ThemeToggler client:load />
</header>
<style is:global>
    .header__container {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & a {
            color: inherit;
            align-self: normal;
        }

        @media (width <= 861px) {
            padding: 1rem;
        }
    }

    .header__left {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .sidebar__open__button {
        width: 36px;
        height: 36px;
        cursor: pointer;
        outline: none;
        border: 1px solid light-dark(var(--light-fga), var(--dark-fga));
        border-radius: 0.5rem;
        background-color: light-dark(var(--light-bga), var(--dark-bga));
        transition: all 0.2s ease-in-out;
        padding: 0;
        display: grid;
        place-items: center;

        &:hover {
            box-shadow:
                inset 0 0 0.5rem light-dark(var(--light-fga), var(--dark-fga)),
                0 0 0.5rem light-dark(var(--light-fga), var(--dark-fga));
        }

        &:focus {
            outline: 2px solid light-dark(var(--light-fg), var(--dark-fg));
        }
    }

    .header__logo svg {
        @media (width <= 861px) {
            width: 50% !important;
        }
    }
</style>

<script>
    class SidebarButton extends HTMLElement {
        constructor() {
            super();
            const html = document.querySelector("html");
            const header = document.querySelector(".header__container");
            const main = document.querySelector(".main__container")
            const footer = document.querySelector(".footer__container");

            const offCanvas = document.querySelector(
                ".offcanvas__container",
            );
            const sidebarContainer = document.querySelector(
                ".sidebar__container",
            );
            const openSidebarBtn = document.querySelector(
                ".sidebar__open__button",
            );

            openSidebarBtn.addEventListener("click", () => {
                header.setAttribute("inert", "");
                footer.setAttribute("inert", "");
                main.setAttribute("inert", "");
                sidebarContainer.removeAttribute("inert");
                sidebarContainer.classList.add("open");
                sidebarContainer.ariaHidden = "false";
                sidebarContainer.ariaExpanded = "true";
                html.style.overflowY = "hidden";
                offCanvas.setAttribute("show", "");
            });
        }
    }
    customElements.define("sidebar-button", SidebarButton);
</script>
