---

---

<header>
  <a href="/guia-neovim/"><img src="/guia-neovim/neovim.svg" /></a>
</header>
<style>
  header {
    padding: 2em 0;
    display: grid;
    place-items: center;
    & img {
      height: 96px;
    }
  }
</style>
