---
import ThemeToggler from "./ThemeToggler";
import LogoNeovimHorizontal from "./LogoNeovimHorizontal.astro";
---

<header>
    <div id="logo">
        <a href="/">
            <LogoNeovimHorizontal />
        </a>
    </div>
    <ThemeToggler client:load />
</header>
<style>
    header {
        padding: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & a {
            color: inherit;
        }
    }
</style>
