---
interface Props {
    title: string;
}

const { title } = Astro.props;
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollTop from "../components/ScrollTop.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/globals.css";
import OffCanvas from "../components/OffCanvas.astro";
---

<!doctype html>
<html lang="es">
    <BaseHead title={title} description="Guía de Neovim en castellano dirigida a todos los usuarios que se quieren iniciar o mejorar en el uso de este editor de texto multiplataforma." />
    <body>
        <OffCanvas />
        <Sidebar />
        <section id="post">
            <Header />
            <slot />
            <Footer />
        </section>
        <ScrollTop />
        <script is:inline src="/script-sonido.js"></script>
    </body>
</html>
