---
interface Props {
    title: string;
}

const { title } = Astro.props.content;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollTop from "../components/ScrollTop";
import Sidebar from "../components/Sidebar.astro";
import "../styles/globals.css";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="es">
    <BaseHead title={title} />
    <body>
        <Sidebar />
        <Header />
        <main transition:animate="slide">
            <slot />
        </main>
        <Footer />
        <ScrollTop client:load />
        <script is:inline src="/guia-neovim/script-sonido.js" />
    </body>
</html>
<style>
</style>
